[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docopt = "~=0.6"
requests = "~=2.26"
svglib = "~=1.1"
reportlab = "~=3.6.13"
pillow = "~=10.3"

[dev-packages]
pipenv-setup = "*"
vistir = "0.6.1"
mypy = "*"
types-pillow = "*"
types-docopt = "*"
types-requests = "*"
types-lxml = "*"

[requires]
python_version = "3.9"

[scripts]
setup-sync = "pipenv-setup sync --pipfile"
