[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docopt = "*"
requests = "*"
svglib = "*"
lxml = "*"
reportlab = "*"
pillow = "*"

[dev-packages]
pipenv-setup = "*"

[requires]
python_version = "3.9"
